*{
    text-align: center;
    margin:0px;
}

body{
    background-color: rgb(211, 211, 211) ;
}
#container{
    margin-top: 10%;
    background-color: rgb(26, 25, 25);
    width: 400;
    height:406px;
    display: flex;
    justify-self: center;
    border-radius: 50px;
}


ul{
    margin-right: 20px;
    list-style-type: none;
}

ul>li>a{

    text-decoration: none;
    color: #F8F8F8;
    font-family:Atkinson Hyperlegible Mono;
    font-size: 30px;
}
.button{
    border-radius:50px;
    height: 70px;
    width:  70px;
    cursor: pointer;
    font-family: roboto;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #F8F8F8;
    border: none;
}
#mulitply,#equal,#minus,#plus{
    color: #68B31A  ;
}
#clear{
    color: #E4684C;
}
.button:hover{
    background-color: rgb(223, 223, 223);
    
}

.button:active{
    background-color: rgb(190, 188, 188);
    
}

#display{
    width: 500px;
    height:404px;
    
}

input {
    border: none;
    color:#525252 ;
    font-family: roboto;
    font-size: 75px;
    display: flex;
    flex-wrap: wrap;
}
