#container{
    background-color: #2E0C16;
    width: 400;
    height:406px;
    display: flex;
    justify-self: center;
}

ul{
    margin-right: 20px;
    list-style-type: none;
}
.button{
    border-radius:10px;
    height: 70px;
    width:  70px;
    cursor: pointer;
    font-family: roboto;
    font-size: 20px;

}

.button:hover{
    background-color: rgb(235, 240, 245);
    
}

.button:active{
    background-color: rgb(180, 173, 173);
    
}

#display{
    width: 500px;
    height:400px;
    
}


